// 形式一
.button-pan {
  font-weight: 700;
	border-radius: 3px;
	overflow: hidden;
  mix-blend-mode: difference;
  color: #fff;
  &::before {
    content: '形式1';
    background: rgba(84, 92, 100, 0.5);
	  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  }
  &:hover {
    &::before {
      transform: translate3d(0,-100%,0);
    }
  }
}
// 形式二--start
.button-hyperion {
  font-weight: 500;
	overflow: hidden;
	color: #fff;
  &::before {
    content: '';
    background: rgba(84, 92, 100, 0.5);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    transform-origin: 100% 50%;
  }
  &:hover{
    .button-li-label {
      animation: MoveUpInitial 0.2s forwards,MoveUpEnd 0.2s forwards 0.2s;
    }
    &::before {
      transform: scale3d(0,1,1);
	    transform-origin: 0% 50%;
    }
  }
}
@keyframes MoveUpInitial {
  to {
		transform: translate3d(0,-105%,0);
	}
}
@keyframes MoveUpEnd {
	from {
		transform: translate3d(0,100%,0);
	}
	to {
		transform: translate3d(0,0,0);
	}
}
// 形式二--end
.button-mimas {
  text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	border-radius: 4px;
	overflow: hidden;
  color: #fff;
	background: #e7e7e7;
  &::before {
    content: '';
    background: rgba(84, 92, 100, 0.5);
    width: 120%!important;
    left: -10%!important;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }
  &:hover {
    &::before {
      transform: translate3d(100%,0,0);
    }
  }
}
// 形式三--end

.button-atlas {
  font-weight: 500;
  --offset: 10px;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  .marquee {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    .marquee-inner {
      width: fit-content;
      display: flex;
      position: relative;
      color: #000;
      transform: translate3d(var(--move-initial), 0, 0);
      animation: marquee 1s linear infinite;
      animation-play-state: paused;
      opacity: 0;
      span {
        text-align: center;
        white-space: nowrap;
        font-style: italic;
        padding: 0 10px;
      }
    }
  }
  &:hover {
    .label {
      opacity: 0;
    }
    .marquee-inner {
      animation-play-state: running;
      opacity: 1;
      transition-duration: 0.4s;
    }
  }
}
// 形式四--end
// 形式五--start
.button-kari {
  font-weight: 900;
  border-radius: 50%;
  font-size: 14px;
  --offset: 10px;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  .label {
    transition: opacity 0.1s;
  }
  .marquee {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
  }
  .marquee-inner {
    width: fit-content;
    display: flex;
    position: relative;
    color: #000;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 1s linear infinite;
    animation-play-state: paused;
    opacity: 0;
    span {
      padding: 0 10px;
    }
  }
  &:hover {
    .label {
      opacity: 0;
    }
    .marquee {
      transform: rotate(-2.75deg);
      .marquee-inner {
        animation-play-state: running;
        opacity: 1;
        transition-duration: 0.6s;
      }
    }
  }
}
@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}

// 形式5--end
.button-pandora {
  background: #000!important;
	font-weight: 700;
	padding: 0;
	border-radius: 5px;
  .button-li-label {
    background: #a7a7a7;
    border: 1px solid #000;
    border-radius: 5px;
    transform: translate3d(-4px, -4px, 0);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  }
  &:hover {
    .button-li-label {
      transform: translate3d(-8px, -8px, 0);
    }
  }
}

// 形式6--end
.button-janus {
  width: 175px!important;
  height: 120px!important;
  line-height: 120px!important;
  font-weight: 900;
  background: none!important;
  .button-li-label {
    color: #fff;
    transition: transform 0.3s ease;
	  mix-blend-mode: difference;
  }
  &::before {
    content: '';
	  background: #e6e6e6;
	  -webkit-clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
	  clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
	  transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55), -webkit-clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55), background 0.5s ease;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 5%;
    height: 86%;
    width: 97%;
    border-radius: 58% 42% 55% 45% / 56% 45% 55% 44%;
    border: 1px solid #000;
    transform: rotate(-20deg);
    z-index: -1;
    transition: transform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
  }
  &:hover {
    &::before {
      background: #000;
	    -webkit-clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
	    clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
    }
    &::after {
      transform: translate3d(0,-5px,0);
    }
    .button-li-label {
      color: #fff;
      transform: translate3d(0,-10px,0);
    }
  }
}
// 形式7--end
.button-anthe {
  color: #fff!important;
	background: none!important;
  .button-li-label {
    mix-blend-mode: difference;
	  transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
  }
  &::before {
    content: '';
    background: #000;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
    transition: clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1), -webkit-clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1);
  }
  &:hover {
    &::before {
      background: #000;
      -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
    .button-li-label {
      transform: translate3d(-10px,0,0);
    }
  }
}
// 形式8--end
.button-pallene {
  border-radius: 4px;
  font-weight: 700;
  border: 2px solid #000;
	box-shadow: inset 0 0 0 0px #000;
	transition: border-radius 0.3s, box-shadow 0.3s, color 0.3s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
  &:hover {
    color: #e7e7e7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 40px #000;
    transition-delay: 0s, 0s, 0.2s;
  }
}
// 形式9--end
// 形式10-start
.button-telesto {
  overflow: hidden;
  font-weight: 800;
	font-style: italic;
  color: #fff;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
	  background: #000;
  }
  &::before {
    width: 135%!important;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
    transform: translate3d(-100%,0,0);
  }
  &::after {
    width: 105%!important;
	  transform: translate3d(100%,0,0);
	  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  }
  .button-li-label {
    overflow: hidden;
    position: relative;
	  z-index: 1;
    mix-blend-mode: difference;
  }
  &:hover {
    .button-li-label {
      div {
        animation: MoveRightInitial 0.1s forwards, MoveRightEnd 0.3s forwards 0.2s;
      }
    }
    &::before {
      transform: translate3d(0,0,0);
      transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    }
    &::after {
      transform: translate3d(0,0,0);
      transition: transform 0.01s 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    }
  }
}
@keyframes MoveRightInitial {
	to {
		transform: translate3d(105%,0,0);
	}
}

@keyframes MoveRightEnd {
	from {
		transform: translate3d(-100%,0,0);
	}
	to {
		transform: translate3d(0,0,0);
	}
}
// 形式10-end
// 形式11-start
.button-calypso {
  overflow: hidden;
  border-radius: 10px;
  color: #fff;
  .button-li-label {
    position: relative;
    mix-blend-mode: difference;
    z-index: 10;
  }
  &::before {
    content: '';
    background: #000;
    width: 120%!important;
    height: 0;
    padding-bottom: 120%;
    top: -110%!important;
    left: -10%!important;
    border-radius: 50%;
    transform: translate3d(0,68%,0) scale3d(0,0,0);
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: #000;
    transform: translate3d(0,-100%,0);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  }
  &:hover {
    .button-li-label {
      animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEnd 0.3s forwards 0.3s;
    }
    &::before {
      transform: translate3d(0,0,0) scale3d(1,1,1);
	    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
    }
    &::after {
      transform: translate3d(0,0,0);
      transition-duration: 0.05s;
      transition-delay: 0.4s;
      transition-timing-function: linear;
    }
  }
}
@keyframes MoveScaleUpInitial {
	to {
		transform: translate3d(0,-105%,0) scale3d(1,2,1);
		opacity: 0;
	}
}

@keyframes MoveScaleUpEnd {
	from {
		transform: translate3d(0,100%,0) scale3d(1,2,1);
		opacity: 0;
	}
	to {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}
// 形式11-end
.button-skoll {
  height: 100px!important;
  line-height: 100px!important;
  overflow: hidden;
	border-radius: 50%;
  padding: 0;
	font-weight: 500;
  color: #fff;
  div {
    border-radius: 50%;
  }
  .button-li-label {
    position: relative;
  	overflow: hidden;
	  mix-blend-mode: difference;
  }
  &::before {
    content: '';
    background: #000!important;
    height: 0!important;
    padding-bottom: 100%;
    border-radius: 50%;
    transform: translate3d(0,0,0);
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
  }
  &:hover {
    &::before {
      transform: translate3d(0,100%,0);
    }
    .button-li-label {
      div {
        animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;  
      }
    }
  }
}
// 12--end
.button-greip {
	overflow: hidden;
	color: #fff;
  font-weight: 500;
  .button-li-label{
    position: relative;
    overflow: hidden;
	  mix-blend-mode: difference;
  }
  &::before {
    content: '';
    background: #000;
    transform-origin: 50% 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: clip-path 0.2s, -webkit-clip-path 0.2s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
  }
  &:hover {
    .button-li-label {
      div {
        animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
      }
    }
    &::before {
      transition-duration: 0.3s;
      -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    }
  }
}
// 13--end
.button-dione {
  background: none;
  font-weight: 500;
	font-style: italic;
  .button-li-label {
    position: relative;
    color: #fff;
  }
  &::before {
    content: '';
    background: #000;
    transition: transform 0.3s cubic-bezier(0.2,1,0.7,1);
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    transition: transform 0.3s cubic-bezier(0.2,1,0.7,1);
    border-radius: 0px;
    transform: scale3d(0.85, 0.65, 1);
  }
  &:hover {
    &::before {
      transform: scale3d(0.9, 0.8, 1);
    }
    &::after {
      transform: scale3d(1,1,1);
    }
  }
}
// 14--end
.button-bestia {
  color: #fff;
	background: none;
	padding: 0;
  .button-li-label {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e7e7e7;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
    &::before {
      content: '';
      position: absolute;
      width: 110%!important;
      height: 0!important;
      padding-bottom: 110%;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate3d(-50%,-50%,0) scale3d(0,0,1);
    }
    &::after {
      content: '';
      position: absolute;
      background: #000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
  &:hover {
    .button-li-label {
      transform: scale3d(1.2,1.2,1);
      &::after {
        opacity: 1;
        transition-duration: 0.01s;
        transition-delay: 0.3s;
      }
      &::before {
        transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
        transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
      }
    }
  }
}
// 15--end
.button-fenrir {
	background: none!important;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	width: 120px!important;
	height: 120px!important;
  line-height: 120px!important;
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
  .progress {
    position: absolute;
    width: 80px;
    height: 80px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  }
  .progress__circle,
  .progress__path {
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 1px;
  }
  .progress__path {
    stroke: #a6a6a6;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: stroke-dashoffset 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  }
  &:hover {
    .progress {
      transform: scale3d(1.2, 1.2, 1);
    }
    .progress__path {
      stroke-dashoffset: 0;
    }
  }
}
// 16--end
