.key-value {
  width: 100%;
  .key-value-li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: calc(20 / 16 * 1rem);
    font-size: calc(14 / 16 * 1rem);
    &:last-child {
      margin-bottom: 0;
    }
    .li-label {
      font-weight: 400;
      color: #191B24;
      width: 4.5rem;
    }
    .li-value {
      font-weight: 400;
      color: #666C7E;
      width: calc(100% - 4.5rem);
      text-align: right;
      word-break: break-all;
    }
    &.selection {
      .li-value {
        user-select: all;
      }
    }
    .url-value-orange {
      color: #FF6B00;
    }
  }
}
