.line-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .line-wrap-li {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before,
    &::after {
      position: absolute;
      width: 100%;
      height: 1px;
      top: 100%;
      left: 0;
      pointer-events: none;
      background: currentColor;
    }
  }
}
